@{ 
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BugTracker</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/TemplateCSS/heroic-features.css" rel="stylesheet" />
    <link href="~/Content/MyStyles.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <a class="navbar-brand" href="https://github.com/cdrose15/BugTracker" title="GitHub Repository" target="_blank"><i class="fa fa-github fa-lg"></i></a>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#demo">Demo</a>
                    </li>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Project Manager") || User.IsInRole("Developer"))
                    {
                        <li id="tour3">@Html.ActionLink("Projects", "Index", "Projects")</li>
                    }
                    @if (User.IsInRole("Administrator") || User.IsInRole("Project Manager") || User.IsInRole("Developer") || User.IsInRole("Submitter"))
                    {
                        <li id="tour4">@Html.ActionLink("Tickets", "Index", "Tickets")</li>
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <li id="tour2">@Html.ActionLink("Users", "Users", "Users")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <br /><br /><br /><br />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p><img src="~/img/BugLanding.png" /></p>
            </div>
            <div class="col-md-8">
                <p class="landing-font">BugTracker</p>
                <br /><br /><br />
                <div class="col-md-12">
                    <h4><b>Technologies used:</b></h4>
                </div>
                <div class="col-md-4">
                    <ul class="list-font">
                        <li>MVC</li>
                        <li>Entity Framework</li>
                        <li>Code First Database</li>
                        <li>SQL</li>
                        <li>LINQ</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-font">
                        <li>Razor</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
            </div>
        </div>
        <br /><br /><br /><br />
        <hr>
        <section id="about">
            <br /><br />
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="layoutHeader">What is BugTracker?</h1>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <img src="~/img/mvcLogo (Custom).png" />
                    <img src="~/img/linq.png" />
                    <img src="~/img/SQL.png" />

                </div>
                <div class="col-md-6">
                    <h4>BugTracker is a web application to keep track of reported
                    software defects in your development project. To get started,
                    an Administrator will assign each user to a specific role
                    (Project Manager, Developer, or Submitter), as well as assigning
                    Project Managers to their respective projects. Once this is completed,
                    the Project Managers will assign Developers to the specific projects
                    that they are working on. Developers will then be able to see all of the
                    tickets logged for those projects and who is in charge of resolving the
                    issue. Tickets will be logged based on Project, Type, Status, and Priority.
                    When a Developer is assigning a new ticket, or an already assigned ticket
                    occurs any changes, they will receive an email notification for work to be
                    completed. You may Demo any and all roles below.  </h4>
                </div>
            </div>
        </section>
        <br /><br /><br /><br />
        <hr />
        <!-- Title -->
        <section id="demo">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="layoutHeader">Choose a specific role to demo</h1>
                </div>
            </div>
            <br />
            <!-- /.row -->
            <!-- Page Features -->
            <div class="row text-center">

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Administator</h3>
                            <p>Access to assign all users a specfic role</p>
                            <form method="Post" action="@Url.Action("DemoAdminLogin","Account")">
                                <input type="submit" value="Log In" class="btn btn-sm btn-default" />
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Project Manager</h3>
                            <p>Access to assign tickets to developers</p>
                            <form method="Post" action="@Url.Action("DemoProjectManagerLogin","Account")">
                                <input type="submit" value="Log In" class="btn btn-sm btn-default" />
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Developer</h3>
                            <p>Access to edit and view tickets to which they are assigned</p>
                            <form method="Post" action="@Url.Action("DemoDeveloperLogin","Account")">
                                <input type="submit" value="Log In" class="btn btn-sm btn-default" />
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Submitter</h3>
                            <p>Access to edit and view tickets which they have submitted</p>
                            <form method="Post" action="@Url.Action("DemoSubmitterLogin","Account")">
                                <input type="submit" value="Log In" class="btn btn-sm btn-default" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br />

            <!-- /.row -->
        </section>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>

</html>


@*<div class="row">
        <form method="Post" action="@Url.Action("DemoAdminLogin","Account")">
            <input type="submit" value="Administrator" class="btn btn-sm btn-default" />
        </form>
        <form method="Post" action="@Url.Action("DemoProjectManagerLogin","Account")">
            <input type="submit" value="ProjectMgr" class="btn btn-sm btn-default" />
        </form>
        <form method="Post" action="@Url.Action("DemoDeveloperLogin","Account")">
            <input type="submit" value="Developer" class="btn btn-sm btn-default" />
        </form>
        <form method="Post" action="@Url.Action("DemoSubmitterLogin","Account")">
            <input type="submit" value="Submitter" class="btn btn-sm btn-default" />
        </form>
</div>*@